.simon-says-container {
  display: none;
  width: 100vw;
  height: 100vh;
  max-width: 100vh;
  max-height: 100vw;
  margin: 0 auto;
}

.simon-says-game {
  display: none;
}

.simon-says-steps {
  margin-bottom: 0.5em;
  border: 1px solid #bb7415;
  margin-top: 5px;
  padding: 5px 0;
  font-size: 1.2em;
  text-align: center;
  color: #fefefe;
}

.simon-says-steps-counter {
  color: #fefefe;
  font-weight: bold;
}

.simon-says-score {
  float: left;
  margin-bottom: 20px;
  color: #fefefe;
  font-size: 1.5em;
}

.simon-says-score-mine,
.simon-says-score-opp {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  color: #fefefe;
}

.simon-says-game-timer {
  float: right;
  margin: 0 0 20px 50px;
  color: #fefefe;
  font-size: 1.5em;
  text-align: right;
}

.simon-says-game-timer-value {
  margin-top: 10px;
  color: #fefefe;
  font-weight: bold;
}

.simon-says-game-timer-value.caution {
  color: #F24141;
}

.simon-says-game-timer-value.warning {
  color: #F24150;
}

.simon-says-grid-block {
  float: left;
  width: calc(20% - 3px);
  height: 100px;
  background-color: #9C4E9C;
  margin: 0 3px 3px 0;
  transition: background-color 0.5s ease;
}

.simon-says-grid-block.active {
  background-color: #2ecc71;
}

.simon-says-grid-block.wrong {
  background-color: #e74c3c;
}

.simon-says-grid-block.inactive {
  background-color: #5E2F5E;
}

.simon-says-grid-block:nth-child(5n+6) {
  clear: left;
}